.container
  .row{:style => "margin-top:13px;"}
    .col
      %h4 Search for factories
      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-search
          %input.form-control#keyword-input{:placeholder => "Name / Address", :type => "text"}
      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-globe
          %select.form-control#country-select{:placeholder => "Country", :type => "text"}
  .row{:style => "margin-top:20px;"}
    .col
      %h5.result-header Found 0 factories
      %ul.list-group
        %li.list-group-item
          .card.template
            .card-header{:role => "tab"}
              %h5.mb-0
                %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "replaced_by_js"}
            .collapse.not-loaded{"data-parent" => "#search-result-accordion", :role => "tabpanel"}
              .card-body
                .table-responsive
                  %table.table
                    %thead
                      %tr
                        %th Brand
                        %th Year
                    %tbody
                      %tr.loading
                        %td loading ...
                        %tdd
          #search-result-accordion{:role => "tablist"}
